# Python files
__pycache__/
*.py[cod]
*.egg-info/
*.env
*venv

# Django static and media files
/static/
/media/

# Environment variables
.env
.env.example
venv/

# Django migrations
**/migrations/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log
fitgear/logs/

# Admin credentials (sensitive)
ADMIN_CREDENTIALS.md
ADMIN_CREDENTIALS.md/