# Python files
__pycache__/
*.py[cod]
*.egg-info/
*.env
*venv

# Django static and media files
/static/
/media/

# Environment variables
.env
.env.example
venv/

# Django migrations
**/migrations/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

node_modules/*.log
